*~
autodocs/
images/
groupscripts/
!templates/default/images
!templates/default/userbar/images
config/site.cfg
config/mysql.cfg
ckeditor
testharness.pl
templates/default/datepicker
.emacs.desktop
.emacs.desktop.lock
templates/default/MultiSelect
modules/Net/
templates/default/js_*
templates/default/css_*

