@charset "utf-8";

#composeform {
    padding-top: 40px;
    margin: 0px auto;
    width: 1130px;
}

#leftcol {
    float: left;
    width: 800px;
    margin: 0px;
    padding: 0px;
}

#leftcol li {
    list-style-type: none;
    margin: 0px 0px 10px 0px;
    overflow: hidden;
}

#settings {
    float: right;
    width: 300px;
}

.textwrapper {
    padding-top: 5px;
}

div.clear {
    clear: both;
}

dl.input {
    margin: 5px 0px 0px 0px;
}

dl.float {
    float: left;
    margin-right: 1em;
}

dl.iblock {
    display: inline-block;
    vertical-align: top;
    margin-right: 1em;
}

dl.input > dt {
    margin: 0px 0px 6px;
}

dl.input > dd {
    margin: 0px;
    padding: 0px;
    white-space: nowrap;
}

dl.input > dd > select {
    min-width: 10em;
}

dl.input > dd > input[type="radio"] {
    width: 16px;
}

#leftcol dl.input > dd > input[type="text"],
#leftcol dl.input > dd > textarea.fillwide {
    width: 772px;
}

#leftcol dl.input > dd > input[type="text"].twocol,
dl.input > dd > input[type="file"] {
    width: 274px;
}

select.fillwide {
    width: 300px;
}

input.fillwide.datepick {
    width: 267px;
}

label.disabled {
    color: #777;
}

div.fancy-select {
    max-height: 64px;
    max-width: 300px;
}

div.slider {
    width: 300px;
    height: 16px;
}

div.slider div.slidebar {
    position: relative;
    left: 0px;
    top: 8px;
    height: 0px;
    width: 300px;
    border-top: 1px solid #AAAAAA; /* Recklessly disregard gravity! */
    border-bottom: 1px solid #DDD;
}

div.slider div.slideknob {
    width: 16px;
    height: 16px;
    background: url('../images/slideknob.png') no-repeat center;
}

div#prilabel {
    width: 300px;
}

div#prilabel div.fltright {
    float: right;
}

dd.next1 {
    color: #555;
    font-size: 85%;
}

dd.next2 {
    color: #999;
    font-size: 75%;
}

/* Matrix */
ul.reciplist {
    margin: 0px;
    padding: 0px;
}

ul.reciplist li {
    padding: 0px 0px 0px 11px;
    list-style-type: none;
}

div.content > ul.reciplist > li {
    padding: 0px;
}

ul.reciplist li > div.recipient {
    padding-left: 11px;
}

ul.reciplist li.haschild > div.recipient {
    background-image: url("../images/tree_closed.png");
    background-repeat: no-repeat;
    background-position: 0px 4px;
}

ul.reciplist li.haschild.open > div.recipient {
    background-image: url("../images/tree_open.png");
}

ul.reciplist li div.MultiSelect {
    display: inline-block;
    width: 160px;
    text-align: left;
}
div.recip-meths {
    text-align: right;
}
div.recipient {
    float: left;
}

div.content h3 {
    font-size: 13px;
    font-weight: bold;
    border-bottom: 1px dotted #666;
    margin: 5px 0px 2px 0px;
}

span.helptext {
    font-size: 75%;
    color: #666;
    white-space: normal;
}