#dashboard-core {
    padding-top: 40px;
    margin: 0px auto;
    width: 1000px;
}

#dashboard-core > ul {
    float: left;
    margin: 0px;
    padding: 0px;
}

#dashboard-core > ul > li {
    list-style-type: none;
    margin: 0px 0px 10px 0px;
    overflow: hidden;
}

dl.input {
    margin: 5px 0px 0px 0px;
}

dl.input > dt {
    margin: 0px 0px 6px;
}

dl.input > dd {
    margin: 0px;
    padding: 0px;
    white-space: nowrap;
}

dl.input > dd > select {
    min-width: 10em;
}

dl.input > dd > input[type="radio"] {
    width: 16px;
}

.submitbox {
    margin-top: 0.5em;
}
