#dashboard-core {
    padding-top: 40px;
    margin: 0px auto;
    width: 1000px;
}

#dashboard-core > ul {
    float: left;
    margin: 0px;
    padding: 0px;
}

#dashboard-core > ul > li {
    list-style-type: none;
    margin: 0px 0px 10px 0px;
    overflow: hidden;
}

dl.input {
    margin: 5px 0px 0px 0px;
}

dl.input > dt {
    margin: 0px 0px 6px;
}

dl.input > dd {
    margin: 0px;
    padding: 0px;
    white-space: nowrap;
}

dl.input > dd > select {
    min-width: 10em;
}

dl.input > dd > input[type="radio"] {
    width: 16px;
}

.submitbox {
    margin-top: 0.5em;
}

img.workspin {
    opacity: 0;
}

div.content h3 {
    font-size: 13px;
    font-weight: bold;
    border-bottom: 1px dotted #666;
    margin: 10px 0px 2px 0px;
    color: #005678;
}

table.listtable {
    width: 100%;
    border-collapse: collapse;
    margin-top: 5px
}

table.listtable tr td, table.listtable tr th {
    border-bottom: 1px solid #ddd;
    vertical-align: middle;
    white-space: nowrap;
}

table.listtable tr td {
    padding: 7px 3px;
}

table.listtable tr:last-child td {
    border-bottom: none;
}

table.listtable tr td.controls {
    width: 128px;
    padding: 0px;
}

table.listtable tr td.controls ul.controls {
/*    display: none;
    float: right;*/
}

table.listtable tr:hover td.controls ul.controls {
/*    display: inline-block;*/
}

.control.update {
    background-position: 0px 0px;
}

.control.update.disabled, .control.update.disabled:hover {
    background-position: 0px -16px;
}

.control.update:hover {
    background-position: 0px -32px;
}

.control.remote {
    background-position: -16px 0px;
}

.control.remote.disabled, .control.remote.disabled:hover {
    background-position: -16px -16px;
}

.control.remote:hover {
    background-position: -16px -32px;
}

.control.delete {
    background-position: -32px 0px;
}

.control.delete.disabled, .control.delete.disabled:hover {
    background-position: -32px -16px;
}

.control.delete:hover {
    background-position: -32px -32px;
}

.control.change {
    background-position: -48px 0px;
}

.control.change.disabled, .control.change.disabled:hover {
    background-position: -48px -16px;
}

.control.change:hover {
    background-position: -48px -32px;
}

table.extradbs {
    width: 100%;
    border-collapse: collapse;
    margin-top: 5px
}

table.extradbs tr td, table.extradbs tr th {
    border-bottom: 1px solid #ddd;
    vertical-align: middle;
    white-space: nowrap;
}

table.extradbs tr td {
    padding: 7px 3px;
}

table.extradbs tr:last-child td {
    border-bottom: none;
}

table.extradbs tr td.controls {
    width: 128px;
    padding: 0px;
}
